@font-face
{
	font-family: "Roboto";
	src: url(~assets/fonts/Roboto-Regular.ttf) format("truetype");
}
@font-face
{
	font-family: "Roboto";
	font-weight: 700;
	src: url(~assets/fonts/Roboto-Bold.ttf) format("truetype");
}
body
{
	font-family: "Roboto";
	--black: #000000;
	--second-bg-color: #181823;
	--light-gray: #DEECF9;
	--dark-grey: #C7E0F4;
	--white: #ffffff;
	--primary: #5221E6;
}
h2,h3,h4,h5,h6{ font-weight: 700 }
h2
{
	margin-bottom: 32px;
	margin-top: 32px;
	font-size: 78px;
}
h3
{
	font-size: 55px;
	margin-bottom: 24px;
	margin-top: 24px;
}
h4
{
	font-size: 24px;
	margin-bottom: 24px;
	margin-top: 24px;
}
h5{ font-size: 18px; }
h6{ font-size: 16px; }
p
{	
	font-size: 18px;
	line-height: 150%;
	color: var(--light-gray);
}
a
{
	color: var(--white);
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	text-decoration: none;
	&:hover {text-decoration: underline;}
}